.header {
  display: flex;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  &__logoAdmin {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    transition: all 0.2s;
    background-color: #fff;
    &--collapsed {
      width: 80px;
    }
  }
  &__nav {
    padding: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1; /* Chiếm phần width còn lại, là phần bị còn lại khi bị logo chiếm */

    font-size: 20px;
  }

  &__collapse {
    margin-right: 20px;
    cursor: pointer;
  }

  &__info {
    margin-right: 14px;
    cursor: pointer;
  }
}

.content {
  padding: 20px;
}
